:root{
  /* --color1: rgb(137	168	201); */
  --color1: #412234;
  --color2: #235452;
  --color3: #43AA8B;
  --color4: #6D466B;
}

#chevron-actions{
  margin: 0;
}

.inner-box{
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid white;
  border-radius: 1px;
  width: max-content;
  padding: 12px 36px;
}

.headshot{
  width: 500px;
}

.down-arrow {
  border-bottom: none;
}

.fa-chevron-down {
  font-size: 25px;
  color: #ffffff;
}

.whoiam-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.whoiam-text p {
  color: #ffffff;
  width: 30vw;
}

.tech-badges {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  align-items: center;
  height: 250px;
  margin: 80px 0;
}

.devicon {
  font-size: 70px;
  margin-right: 40px;
}
.devicon-svg {
  width: 75px;
  margin-right: 35px;
}
